[
  {
    "domain": ".youtube.com",
    "expirationDate": 1803041522.184738,
    "httpOnly": false,
    "name": "PREF",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "unspecified",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "tz=YOUR_TIMEZONE&f6=40000000&f7=100"
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1803199690.649173,
    "httpOnly": false,
    "name": "SOCS",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "lax",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "YOUR_SOCS_COOKIE_VALUE"
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1800607693.322544,
    "httpOnly": true,
    "name": "__Secure-1PSIDTS",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "unspecified",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "YOUR_SECURE_1PSIDTS_VALUE"
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1800607693.322646,
    "httpOnly": true,
    "name": "__Secure-3PSIDTS",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "no_restriction",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "YOUR_SECURE_3PSIDTS_VALUE"
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1803631693.322714,
    "httpOnly": true,
    "name": "SSID",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "unspecified",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "YOUR_SSID_COOKIE_VALUE"
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1803631693.322756,
    "httpOnly": false,
    "name": "SAPISID",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "unspecified",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "YOUR_SAPISID_COOKIE_VALUE"
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1803631693.322777,
    "httpOnly": false,
    "name": "__Secure-1PAPISID",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "unspecified",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "YOUR_SECURE_1PAPISID_VALUE"
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1803631693.322798,
    "httpOnly": false,
    "name": "__Secure-3PAPISID",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "no_restriction",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "YOUR_SECURE_3PAPISID_VALUE"
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1803631693.322859,
    "httpOnly": true,
    "name": "__Secure-1PSID",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "unspecified",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "YOUR_SECURE_1PSID_VALUE"
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1803631693.32288,
    "httpOnly": true,
    "name": "__Secure-3PSID",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "no_restriction",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "YOUR_SECURE_3PSID_VALUE"
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1803631699.215288,
    "httpOnly": true,
    "name": "LOGIN_INFO",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "no_restriction",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "YOUR_LOGIN_INFO_VALUE"
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1803199699.998153,
    "httpOnly": true,
    "name": "__Secure-YENID",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "lax",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "YOUR_SECURE_YENID_VALUE"
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1803199702.431987,
    "httpOnly": true,
    "name": "__Secure-YEC",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "lax",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "YOUR_SECURE_YEC_VALUE"
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1800610178.355862,
    "httpOnly": true,
    "name": "__Secure-1PSIDCC",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "unspecified",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "YOUR_SECURE_1PSIDCC_VALUE"
  },
  {
    "domain": ".youtube.com",
    "expirationDate": 1800610178.355899,
    "httpOnly": true,
    "name": "__Secure-3PSIDCC",
    "path": "/",
    "priority": null,
    "sameParty": false,
    "sameSite": "no_restriction",
    "secure": true,
    "session": false,
    "sourceScheme": null,
    "storeId": "0",
    "value": "YOUR_SECURE_3PSIDCC_VALUE"
  }
]
