{
  "Accept": "*/*",
  "Accept-Encoding": "gzip, deflate",
  "Accept-Language": "es-ES",
  "Authorization": "SAPISIDHASH YOUR_TIMESTAMP_YOUR_HASH_VALUE",
  "Content-Type": "application/json",
  "Cookie": "PREF=tz=YOUR_TIMEZONE&f6=40000000&f7=100; SOCS=YOUR_SOCS_VALUE; __Secure-ROLLOUT_TOKEN=YOUR_ROLLOUT_TOKEN; __Secure-1PSIDTS=YOUR_SECURE_1PSIDTS_VALUE; __Secure-3PSIDTS=YOUR_SECURE_3PSIDTS_VALUE; SSID=YOUR_SSID_VALUE; SAPISID=YOUR_SAPISID_VALUE; __Secure-1PAPISID=YOUR_SECURE_1PAPISID_VALUE; __Secure-3PAPISID=YOUR_SECURE_3PAPISID_VALUE; SID=YOUR_SID_VALUE; __Secure-1PSID=YOUR_SECURE_1PSID_VALUE; __Secure-3PSID=YOUR_SECURE_3PSID_VALUE; LOGIN_INFO=YOUR_LOGIN_INFO_VALUE; __Secure-YENID=YOUR_SECURE_YENID_VALUE; VISITOR_PRIVACY_METADATA=YOUR_VISITOR_PRIVACY_METADATA_VALUE; __Secure-YEC=YOUR_SECURE_YEC_VALUE; SIDCC=YOUR_SIDCC_VALUE; __Secure-1PSIDCC=YOUR_SECURE_1PSIDCC_VALUE; __Secure-3PSIDCC=YOUR_SECURE_3PSIDCC_VALUE",
  "User-Agent": "Mozilla/5.0",
  "X-Goog-AuthUser": "0",
  "x-origin": "https://music.youtube.com"
}
